<div class="right-content pull-right">
        <div class="avatar-content">
            <img src="assets/img/me.jpg" alt="">
            <p class="author-caption">Data Engineering</p>
            <p class="author-caption">More than hello World!!</p>
        </div>
        <div class="topics">
            <h5>Latest Topics</h5>
            <ul>
                <li>Data Architecture</li>
                <li>Apache Spark</li>
                <li>Apache Iceberg</li>
                <li>Data Modelling</li>
                <li>Datalake</li>
<!--                <li>Fineract</li>-->
            </ul>
        </div>
    </div>