<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav>
    <div class="nav-links">
        <ul>
            <li><a class="nav-links" href="/index.html">Home</a></li>
            <li><a class="nav-links" href="contact.html">Contact</a></li>
            <li><a class="nav-links" href="contact.html">Clients</a></li>
            <li><a class="nav-links" href="cv.html">CV</a></li>
            <li><a class="nav-links" href="blog.html">Blog</a></li>
        </ul>
    </div>
    <div class="accounts">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github"></i>
    </div>
</nav>
<section class="header">
    <h1>Gibson Wasukira</h1>
    <h4>Data Engineering | Data Architecture | Solutions Architecture</h4>
</section>
<hr>
</body>
</html>