* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: "Open Sans", serif;*/
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;;
}

nav {
    display: grid;
    grid-template-areas: 'nav-links accounts';
    width: 60%;
    margin: auto;
    margin-top: 3%;
    grid-gap: 40px;
}

a {
    text-decoration: none;
}

.nav-links li {
    list-style: none;
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    font-weight: 900;
}

i {
    margin-right: 10px;
    cursor: pointer;
}

i:hover {
    transform: scale(1.3);
}

.header {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

h2, h4, h5 {
    font-weight: 100;
}

h3 {
    font-weight: 500;
    text-decoration: underline;
}

.blog-post h3{
    margin-bottom: 5px;
    font-weight: 100;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.content-container {
    display: grid;
    grid-template-areas: 'left-content right-content';
    width: 60%;
    margin: auto auto auto auto;
    grid-gap: 50px;
    text-align: left;
}

.featured-article, .another-article {
    margin-top: 2%;
    margin-bottom: 2%;
}

.another-article h3, p {
    margin-bottom: 10px;
}

img {
    height: 400px;
    width: 700px;
}

.clients img {
    height: 100px;
    width: 300px;
}

.btn {
    font-family: 'Open Sans', serif;
}

.read-more-btn {
    background-color: black;
    border: none;
    color: white;
    float: right;
    padding: 10px 20px 10px 20px;
}

.read-more-btn:hover {
    background-color: #a9a9a9;
}

.right-content img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    filter: grayscale(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.author-caption {
    font-style: italic;
    text-align: center;
    font-size: 18px;
    font-family: 'Allura';
}

.newsletter {
    margin-top: 10%;
    border: 1px solid black;
    padding: 25px 10px 25px 10px;
    text-align: center;
    grid-area: newsletter;
}

h5 {
    margin-bottom: 10%;
}

h6 {
    margin-bottom: 10%;
    text-decoration: underline;
}

input[type = "email"] {
    padding: 10px 20px 10px 20px;
    outline: none;
}

::placeholder {
    text-align: center;
}

.sub-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 70px 15px 70px;
    margin-top: 5%;
}

.sub-btn:hover {
    background-color: #a9a9a9;
}

.search {
    margin-top: 10%;
    text-align: center;
    grid-area: search;
}

.search h5 {
    background-color: black;
    color: white;
    padding: 10px;
}

input[type = "text"] {
    padding: 5px;
    width: 80%;
    outline: none;
}

.search-btn {
    float: right;
    padding: 5px 8px;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
}

.search-btn:hover {
    background-color: #a9a9a9;
}

.topics {
    margin-top: 10%;
    text-align: center;
    grid-area: search;
}

.topics h5 {
    background-color: black;
    color: white;
    padding: 10px;
}

.topics li {
    text-transform: none;
    display: block;
    padding: 5px;
    opacity: 0.8;
}

/*.popular-posts {*/
/*    margin-top: 10%;*/
/*    text-align: center;*/
/*    grid-area: search;*/
/*}*/

/*.popular-posts h5 {*/
/*    background-color: black;*/
/*    color: white;*/
/*    padding: 10px;*/
/*}*/

/*.popular-posts img {*/
/*    height: 240px;*/
/*    width: 220px;*/
/*    border-radius: 0 !important;*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-bottom: 3%;*/
/*}*/

.caption {
    font-family: 'Allura';
    font-style: italic;
}

footer {
    margin-top: 3%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.featured-article {
    grid-area: featured-article;
}

.another-article {
    grid-area: another-article;
}

.avatar-content {
    grid-area: avatar-content;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    margin: 10px;
}

.list-unstyled li {
    margin: 10px 0;
}

.cv h2 {
    font-weight: 900;
}

.cv h3 {
    font-weight: 900;

}

.cv a {
    text-decoration: none;
    color: inherit;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }
/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

/*pre.highlight {*/
/*  background-color: #282923;*/
/*  padding: 7px 7px 7px 10px;*/
/*  border: 20px solid yellowgreen;*/
/*  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);*/
/*  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);*/
/*  box-shadow: 3px 3px rgba(0,0,0,0.1);*/
/*  margin: 20px 0 20px 0;*/
/*  overflow: auto;*/
/*}*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* media queries */
/* ----------------------------------------------------------*/

@media (max-width: 1299px) {
    nav {
        grid-template-areas:'nav-links' 'accounts';
    }

    .content-container {
        grid-template-areas: 'left-content' 'righ-content';
        width: 70%;
        margin: auto;
    }

    hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }

    .right-content {
        display: grid;
        grid-template-areas: 'avatar-content newsletter' 'search topics';
        grid-gap: 40px;
    }

    .newsletter {
        margin-top: 0;
    }

    .popular-posts {
        display: none;
    }

    .topics {
        margin-top: 30px;
    }
}

@media (max-width: 700px) {
    nav li {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .content-container {
        grid-template-areas: 'left-content' 'right-content';
        grid-gap: 40px;
        width: 80%;
        margin: auto;
    }

    hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }

    .left-content img {
        height: 300px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .right-content {
        display: grid;
        grid-template-areas: 'avatar-content' 'newsletter' 'search' 'topics';
        width: 50%;
        margin: auto;
    }

    .newsletter, .topics, .search {
        margin-top: 3%;
    }

    .read-more-btn {
        float: left;
    }
}