---
---

{% include header.html %}
<section class="content-container">
    <div class="left-content clients">

        <img src="../assets/img/isbat.jpg" alt="">
<!--        <h2>You can get in touch with me via</h2>-->
<!--        <ul class="list-unstyled">-->
<!--            <li><a href="https://in.linkedin.com/in/gibson-wasukira">LinkedIn</a></li>-->
<!--            <li><a href="https://github.com/gwasky">GitHub</a></li>-->
<!--            <li><a href="https://twitter.com/gwasky">Twitter</a></li>-->
<!--        </ul>-->
<!--        or you can mail me at wasukira@outlook.com-->
    </div>
</section>
{% include footer.html %}