---
---

{% include header.html %}
<section class="content-container">
    <div class="left-content cv">
        <h2>Gibson Wasukira</h2>
        <h3>Data Engineer</h3>
        <p>wasukira@outlook.com</p>
        <br>
        <p>Big data developer passionate about building data platforms and pipelines for data unification and enrichment to support analytics initiatives <br>Open source
            enthusiast</p>
        <br>
        <h2>Experience</h2>
        <br>
        <h3>Senior Data Engineer at <a href="https://www.finclusiongroup.com">Finclusion Group</a></h3>
        <ul class="list-unstyled">
            <li>• Architecting, Implementation, and maintenance of the company financial analytics data platform; a multi-cloud platform running on AWS and Azure (IaC managed)</a></li>
            <li>• Dimension Modelling, Data warehouse and Lake-house implementation</li>
            <li>• Data pipelines development and testing; ELT/ETL</li>
            <li>• Implementation of Data discovery, Governance and Subscription strategies</li>
            <li>• Development and maintenance of Business Reports and Dashboards</li>
            <li>• Data Unification from applications ranging from Accounting, Payroll to ERP systems</li>
        </ul>
        <br>
        <h3>Senior Data Engineer at <a href="https://awamo.com">Awamo GmbH</a></h3>
        <ul class="list-unstyled">
            <li>• Developed Data migration solution for on-boarding new clients’ data onto the core-banking SaaS platform</li>
            <li>• Built and maintained the company data platform; AWS Native; IaC managed</li>
            <li>• Executed DevOps on Data Platform</li>
            <li>• Built Dimension Models and Implemented Data warehouse</li>
            <li>• Implemented Data discovery and Governance strategies</li>
            <li>• Developed business Reports and Dashboards</li>
            <li>• Developed SaaS Tenant Analytics platform</li>
        </ul>
        <br>
        <h3>Bigdata Consultant at <a href="https://isbatuniversity.ac.ug">ISBAT University</a></h3>
        <ul class="list-unstyled">
            <li>• Designed and delivered data science and big data technologies teaching programs including study material packaged in Docker Images, Dataset and Slide
                preparation
            </li>
            <li>• Assessed student’s assignments</li>
            <li>• Mentored Students</li>
            <li>• Guided and Supervised Dissertation Projects</li>
        </ul>
        <br>
        <h3>Software Developer - Data platform at <a href="https://www.airtel.co.ug/">Airtel Telecom</a></h3>
        <ul class="list-unstyled">
            <li>• Built data pipelines to support real-time reporting/analytics, fraud detection, and observability</li>
            <li>• Overall Infrastructure architectural design and implementation</li>
            <li>• Developed metered usage-based corporate data products</li>
            <li>• Developed Web-based, Data and Voice promotions products</li>
            <li>• Developed Business support systems to enable customer query resolution.</li>
            <li>• REST API development for third party integration with Airtel systems.</li>
        </ul>
        <br>
        <h3>Data Engineer at <a href="https://www.ibm.com/ug-en">IBM</a></h3>
        <ul class="list-unstyled">
            <li>• Data/Dimension modelling and data warehousing</li>
            <li>• Database administration</li>
            <li>• ETL pipeline development and Testing</li>
            <li>• Batch and Stream Processing</li>
            <li>• Dashboard and report automation to support marketing and sales strategies</li>
            <li>• Infrastructure Deployment and Maintenance </li>
        </ul>

        <br>
        <h2>Skillset</h2>
        <br>
    </div>
</section>
{% include footer.html %}